/* layout */

article.post {
	canvas {display: block;}
	.canvas_box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.menu {
		box-sizing: border-box;
		z-index: 1;
	}
}

body {
	margin: 0 auto;
	max-width: 75rem;
	padding: 0 4rem;
	box-sizing: border-box;
}

@media (max-width:600px) {
    body {
        padding: 0 1rem;
    }
}
@media (min-width:601px) and (max-width:1000px) {
    body {
        padding: 0 2rem;
    }
}
