.svg_wrap {
	float: left;
	margin: 2em 0 0;
	svg {border: 1px solid #CCC;}
}

.controls {
	float: right;
	margin: 2em 0 0;
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 1em;
		&.fill, &.ellipse {display: inline-block; margin-right: 1em;}
		&.stroke, &.rect {display: inline-block;}
	}
}