.post-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
}

article.post {
	position: absolute;
	width: 100%;
	.frame { //canvas's parent
		canvas {display: block;}
		width: 100%;
		position: absolute;
		// box-shadow: 1px 1px 2px 1px #EEE;
	}
	ul.controls {
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow: hidden;
		li { float: left; }
	}
}
ul.post-nav {
	position: absolute;
	width: 100%;

	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	li {
		float: left;
		text-transform: uppercase;
	}
	.disabled { color: #BBB; }
}

@media (max-width: $g-breakp-1) {
	$lr-margin: 1rem;
	.post-wrap {
		left: $lr-margin;
		right: $lr-margin;
	}
	$margin-outmost: 2.5rem;
	ul.post-nav { height: $margin-outmost; line-height: $margin-outmost; }
	ul.post-nav li { font-size: 0.8rem; margin-right: 0.8rem; }
	article.post { top: $margin-outmost; bottom: 0; }
	article.post .frame { bottom: $margin-outmost; top: 0; }
	article.post ul.controls { height: $margin-outmost; line-height: $margin-outmost; bottom: 0; }
	article.post ul.controls li { font-size: 0.8rem; margin-right: 0.8rem; }
}
@media (min-width: $g-breakp-1 + 1px) and (max-width: $g-breakp-2) {
	$lr-margin: 2rem;
	.post-wrap {
		left: $lr-margin;
		right: $lr-margin;
	}
	$margin-outmost: 3rem;
	ul.post-nav { height: $margin-outmost; line-height: $margin-outmost; }
	ul.post-nav li { font-size: 0.9rem; margin-right: 0.9rem; }
	article.post { top: $margin-outmost; bottom: 0; }
	article.post .frame { bottom: $margin-outmost; top: 0; }
	article.post ul.controls { height: $margin-outmost; line-height: $margin-outmost; bottom: 0; }
	article.post ul.controls li { font-size: 0.9rem; margin-right: 0.9rem; }
}
@media (min-width: $g-breakp-2 + 1px) {
	$lr-margin: 4rem;
	.post-wrap {
		left: $lr-margin;
		right: $lr-margin;
	}
	$margin-outmost: 4rem;
	ul.post-nav { height: $margin-outmost; line-height: $margin-outmost; }
	ul.post-nav li { font-size: 1rem; margin-right: 1rem; }
	article.post { top: $margin-outmost; bottom: 0; }
	article.post .frame { bottom: $margin-outmost; top: 0; }
	article.post ul.controls { height: $margin-outmost; line-height: $margin-outmost; bottom: 0; }
	article.post ul.controls li { font-size: 1rem; margin-right: 1rem; }
}
