---
layout: default
---
<div class="post-wrap">
	<article class="post">
		<h1 class="title">{% if page.title %}{{ page.title }}{% else %}Untitled Alan + Tessa Project{% endif %}</h1>
		<div class="frame">{{ content }}</div>
	</article>
	<ul class="post-nav">
		<li class="home"><a href="/">home</a></li>
		<li class="newer">
			{% if page.next.url %}<a href="{{ page.next.url }}">newer</a>
			{% else %}<span class="disabled">newer</span>{% endif %}
		</li>
		<li class="older">
			{% if page.previous.url %}<a href="{{ page.previous.url }}">older</a>
			{% else %}<span class="disabled">older</span>{% endif %}
		</li>
	</ul>
</div>

<script type="text/javascript" src="/js/d3.min.js"></script>
<script type="text/javascript" src="/js/seedrandom.min.js"></script>
<script type="text/javascript" src="/js/draw.js"></script>
